<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/logout">logout</a>
</div>

<div style="padding: 20px">
    <h2>OWn an account?</h2>
    <p>Register with us.</p>
</div>
    <h2>Registration Form</h2>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/register" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required {% if inputs %}
        value="{{ inputs.get('first_name') }}"
        {% endif %}><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required {% if inputs %}
        value="{{ inputs.get('last_name') }}"
        {% endif %}><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required {% if inputs %}
        value="{{ inputs.get('email') }}"
        {% endif %}><br>

        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required {% if inputs %}
        value="{{ inputs.get('phone_number') }}"
        {% endif %}><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required {% if inputs %}
        value="{{ inputs.get('username') }}"
        {% endif %}><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="password2">Confirm Password:</label>
        <input type="password2" id="password2" name="password2" required><br>

        <label for="account_type">Account Type:</label>
        <select id="account_type" name="account_type" required>
            <option value="standard">Standard</option>
            <option value="premium">Premium</option>
            <option value="business">Business</option>
        </select><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
