<%- include('./partials/header') %>
<body>
    <div>
        <h1>
            TODO Lists
        </h1>
        <form action="/add" method="POST">

            <label for="title">Todo Title</label>
            <input type="text" name="title" placeholder="Add a todo title" required value="<%= todoTitleValue || '' %>"> <br>

            <label for="content">Todo Content</label>
            <!-- <input type="text" name="content" placeholder="Add a todo" required> -->
            <textarea name="content" id="content" cols="100" rows="10" placeholder="Add a todo"><%= todoContentValue ?? '' %></textarea>

            <button type="submit">Add</button>
        </form>
        <ul>
        </ul>
    </div>
</body>
<%- include('./partials/footer') %>
