<%- include('./partials/header') %>
<body>
    <div>
        <h1>
            TODO Lists
        </h1>
        <ul>
            <li>Task 1</li>
            <li>Task 2</li>
        </ul>
    </div>
</body>
<%- include('./partials/footer') %>
